/*Configuração geral*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
}

/*----------------------------------------------------------------*/
/*Cabeçalho*/

.nav-item a:hover{
    background-color: #000000;
    border-radius: 10px;
}    

.container-fluid img{
    max-width: 75px;
}

.btn{
    color: white;
}

.titulo h1{
    color: white;
    align-items: right;
    margin-right: 20px;
}
/*----------------------------------------------------------------*/

/*slider*/
.fundo{
  background: linear-gradient(to right , #212429,  gray, #212429);
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider{
  position: relative;
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 50s linear infinite; /*tempo que demora pras imagens passarem*/
}

@keyframes rotate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }

  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*50deg)) translateZ(400px); /*esse rotateY mexe no espaçamento entre as fotos*/
}

.slider span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 2s;
}

.slider span:hover img{
  transform: translateY(-50px) scale(1.2); /*transforma a escala quando o mouse passa sobre uma imagem*/
}

/*----------------------------------------------------------------*/
/*história*/

.citacao {
    text-align-last: center;
}

/*----------------------------------------------------------------*/
/*confirmar presença*/

.confirmar-container{  
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
}

.mapa-container{            /*colocando iframe responsivo - início*/
    margin-left: 70px;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
}

.mapa-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}                             /*colocando iframe responsivo - final*/

.txt{
    margin-left: 100px;
    margin-top: 100px;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
}

.mapa1-container{
    margin-left: 70px;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
}

.mapa1-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.txt1{
    margin-left: 100px;
    margin-top: 100px;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
}

/*----------------------------------------------------------------*/
/*presentes*/
.qrcode{
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%;
    position: relative;
}

.qrcode img{
    height: 540px;
    width: 479px;
}

/*----------------------------------------------------------------*/
.container{
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box{
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.box img{
  height: 280px;
  width: 200px;
}

.box h2{
  text-transform: uppercase;
  color: black;
}

.box .content{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;  
  transition: .5s ease-in-out;
  padding: 70px 20px;
}

.box .content::after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #99999922;
}

.box:hover .content{
  transform: translate(100%);
}

.box .content p{
  color: black;
  background: white;
  letter-spacing: 1px;
}

/*----------------------------------------------------------------*/

/*Rodapé*/
.footer-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.creditos{
    color: white;
    text-align: center;
    text-justify: auto;
}

footer a img{
    max-width: 300px;
    right: 1%;
    top: 10%
}

.navbar-brand{
    text-align: center;
}

/*----------------------------------------------------------------*/

/* RESPONSIVIDADE */
/* DE 768px ATÉ 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .carousel-item iframe{height: 450px;}
    .filme3{display: none;}
    .filme4{display: none;}
    .serie3{display: none;}
    .serie4{display: none;}
    .menu-dropdown{right: 20%;}
    .av3{display: none;}
    .ultimas{height: auto;}
    .movie2{display: none;}
    .imagem{display: none;}
    .nov3{display: none;}
    .sobre{width: 200px;}
}

/* ATÉ 767px */
@media screen and (max-width: 767px){
    .carousel-item iframe{height: 200px;}
    .filme0{margin: 0 auto;}
    .filme1{margin: 0 auto;}
    .filme2{display: none;}
    .filme3{display: none;}
    .filme4{display: none;}
    .serie0{margin: 0 auto;}
    .serie1{margin: 0 auto;}
    .serie2{display: none;}
    .serie3{display: none;}
    .serie4{display: none;}
    .menu-dropdown{right: 38.5%;}
    .av1{display: none;}
    .av2{margin: 0 auto;}
    .av3{display: none;}
    .ultimas{height: 380px;}
    .movie1{margin: 0 auto;}
    .movie2{display: none;}
    .movie3{display: none;}
    .imagem{display: none;}
    .nov3{display: none;}
    .nov2{display: none;}
    .sobre{width: 200px;}
}
