/*Configuração geral*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
}
/*----------------------------------------------------------------*/

/*Cabeçalho*/
.nav-item a:hover{
    background-color: #000000;
    border-radius: 10px;
}    

.container-fluid img{
    max-width: 75px;
}

.btn{
    color: white;
}

.titulo h1{
    color: white;
    align-items: right;
    margin-right: 20px;
}
/*----------------------------------------------------------------*/

 /*.txt-historia2{
   background-color: #212429;
}*/

.citacao {
    text-align-last: center;
}

.qrcode img{
    height: 540px;
    width: 479px;
}

/*----------------------------------------------------------------*/

/*Rodapé*/
.footer-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.creditos{
    color: white;
    text-align: center;
    text-justify: auto;
}

footer a img{
    max-width: 300px;
    right: 1%;
    top: 10%
}

.navbar-brand{
    text-align: center;
}

/*----------------------------------------------------------------*/

/* RESPONSIVIDADE */
/* DE 768px ATÉ 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .carousel-item iframe{height: 450px;}
    .filme3{display: none;}
    .filme4{display: none;}
    .serie3{display: none;}
    .serie4{display: none;}
    .menu-dropdown{right: 20%;}
    .av3{display: none;}
    .ultimas{height: auto;}
    .movie2{display: none;}
    .imagem{display: none;}
    .nov3{display: none;}
    .sobre{width: 200px;}
}

/* ATÉ 767px */
@media screen and (max-width: 767px){
    .carousel-item iframe{height: 200px;}
    .filme0{margin: 0 auto;}
    .filme1{margin: 0 auto;}
    .filme2{display: none;}
    .filme3{display: none;}
    .filme4{display: none;}
    .serie0{margin: 0 auto;}
    .serie1{margin: 0 auto;}
    .serie2{display: none;}
    .serie3{display: none;}
    .serie4{display: none;}
    .menu-dropdown{right: 38.5%;}
    .av1{display: none;}
    .av2{margin: 0 auto;}
    .av3{display: none;}
    .ultimas{height: 380px;}
    .movie1{margin: 0 auto;}
    .movie2{display: none;}
    .movie3{display: none;}
    .imagem{display: none;}
    .nov3{display: none;}
    .nov2{display: none;}
    .sobre{width: 200px;}
}
